<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58694/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IWebService" contract="IWebService"
          name="BasicHttpBinding_IWebService" />
    </client>
  </system.serviceModel>
</configuration>